<% provide :title, t("view.login.title") %>
<div class="flex flex-col justify-start p-2">
  <h1 class="self-center text-3xl py-4"><%= t "view.login.title" %></h1>
  <div class="max-w-md w-full mx-auto px-6">
    <%= form_for :session, url: login_path, class: "max-w-md w-full mx-auto px-6", data: {turbo: false} do |f| %>
      <%= f.label :email, t("view.login.email.label"), class: "text-gray-800 text-sm mb-2 block" %>
      <div class="relative flex items-center">
        <%= f.email_field :email, required: true, placeholder: t("view.login.email.placeholder"), class: "w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 mb-2 rounded-md outline-blue-600" %>
        <%= render "shared/icon/user_icon", icon_class: "w-4 h-4 absolute right-4" %>
      </div>

      <%= f.label :password, t("view.login.password.label"), class: "text-gray-800 text-sm mb-2 block" %>
      <div class="relative flex items-center">
        <%= f.password_field :password, required: true, placeholder: t("view.login.password.placeholder"), class: "w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600" %>
        <%= render "shared/icon/eye_icon", icon_class: "w-4 h-4 absolute right-4 cursor-pointer", id: "password_toggle" %>
      </div>

      <div class="flex flex-wrap items-center justify-between gap-4 my-3">
        <div class="flex items-center">
          <%= f.check_box :remember_me, class: "h-4 w-4 shrink-0 text-blue-600 focus:ring-blue-500 border-gray-300 rounded" %>
          <%= f.label :remember_me, t("view.login.remember_me"), class: "ml-2 block text-sm text-gray-800" %>
        </div>
        <%= link_to t("view.login.forgot_pass"), "#", class: "text-sm text-blue-600 hover:underline font-semibold" %>
      </div>

      <%= f.submit t("view.login.submit_btn"), class: "w-full py-3 px-4 text-sm tracking-wide rounded-lg text-white bg-blue-600 hover:bg-blue-700 focus:outline-none" %>

      <p class="text-gray-800 text-sm mt-4 text-center">
        <%= t "view.login.dont_have_account" %>
        <%= link_to t("view.login.sign_up_here"), signup_path, class: "text-blue-600 hover:underline whitespace-nowrap font-semibold" %>
      </p>
    <% end %>
  </div>
</div>
