<tr class="text-center text-sm text-gray-600">
  <td class="px-4 py-1 w-1/12"><%= check_box_tag "selected_books[]", book.id, false, class: "focus:ring-0 focus:ring-offset-0 focus:ring-offset-transparent rounded-md" %></td>
  <td class="px-4 py-1 font-medium w 3/12"><%= link_to book.name, book, class: "text-blue-400 hover:text-blue-200 cursor-pointer" %></td>
  <td class="px-4 py-1 font-medium w-2/12">
    <%= image_tag book_cover(book), class: "w-10 h-10 object-cover block mx-auto" %>
  </td>
  <td class="px-4 py-1 font-medium w-3/12"><%= book.author.name %></td>
  <td class="px-4 py-1 font-medium w-1/12"><%= book.in_stock %></td>
  <% if logged_in? %>
    <td class="px-4 py-1 font-medium w-2/12">
      <div class="flex items-center justify-center space-x-4 h-full">
        <div><%= render "shared/icon/heart", icon_class: "w-6 h-6 my-1 text-stone-500 fill-none cursor-pointer hover:opacity-70" %></div>
        <div>
          <%= link_to selected_book_path(book.id), data: {turbo_method: :delete}, class: "text-red-500" do%>
            <%= render "shared/icon/trash", icon_class: "h-6 w-6 my-1 text-red-500 cursor-pointer hover:opacity-70" %>
          <% end %>
        </div>
      </div>
    </td>
  <% end %>
</tr>
