<% highlights = @highlighted_books[book.id] || {} %>
<tr class="text-center text-sm text-gray-600">
  <td class="px-4 py-1"><%= link_to get_index(book_counter), book, class: "text-blue-400 hover:text-blue-200 cursor-pointer" %></td>
  <td class="px-4 py-1">
    <% if highlights["name"] %>
      <%= highlights["name"].first.gsub(/<strong>(.*?)<\/strong>/, '<span class="bg-yellow-100 text-amber-700 font-semibold px-1 rounded">\1</span>').html_safe %>
    <% else %>
      <%= book.name %>
    <% end %>
  </td>
  <td class="px-4 py-1">
    <%= image_tag book_cover(book), class: "w-10 h-10 object-cover block mx-auto" %>
  </td>
  <td class="px-4 py-1">
    <% if highlights["author_name"] %>
      <%= highlights["author_name"].first.gsub(/<strong>(.*?)<\/strong>/, '<span class="bg-yellow-100 text-amber-700 font-semibold px-1 rounded">\1</span>').html_safe %>
    <% else %>
      <%= book.author&.name %>
    <% end %>
  </td>
  <td class="px-4 py-1"><%= book.in_stock %></td>
  <% if user_signed_in? %>
    <td class="px-4 py-1">
      <%= render "action", book_id: book.id %>
    </td>
  <% end %>
</tr>
