<div class="flex flex-col md:flex-row">
  <div class="md:w-1/3 flex flex-col items-center ">
    <%= image_tag book_cover(@book), class: "w-64 h-80 object-cover rounded-md shadow-md mb-6" %>
    <h2 class="text-2xl mb-2"><%= @book.name %></h2>
    <%= render "action", book_id: @book.id if logged_in? %>
  </div>

  <div class="w-0.5 bg-gray-300 mx-4"></div>

  <div class="md:w-2/3 md:ml-8">
    <div class="mb-4">
      <h2 class="text-2xl font-bold mb-2 flex items-center">
        <%= @book.name %>
        <div class="inline-block px-2 py-1 ml-2 rounded-lg text-white text-base font-normal bg-<%= @book.borrowable ? "emerald" : "red" %>-500">
          <%= borrowable @book %>
        </div>
      </h2>
      <p class="text-gray-600 font-light text-sm mb-4"><%= @book.description %></p>
      <ul class="text-gray-600 text-sm">
        <li><strong><%= t "view.book.author" %>:</strong> <%= @book.author.name %></li>
        <li><strong><%= t "view.book.genre" %>:</strong> <%= @book.genre.name %></li>
        <li><strong><%= t "view.book.publisher" %>:</strong> <%= @book.publisher.name %></li>
      </ul>
    </div>

    <div>
      <h3 class="text-xl font-bold mb-4"><%= t "view.comment.title" %></h3>
      <% if logged_in?%>
        <div class="flex mb-6">
          <input type="text" name="comment" placeholder="<%= t "view.comment.placeholder" %>" class="flex-grow border-gray-300 border rounded-md px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500">
          <button class="ml-4 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"><%= t "view.comment.post" %></button>
        </div>
      <% end %>
      <div class="space-y-3 max-h-[410px] overflow-y-auto">
        <% if @comments.any? %>
          <%= render partial: "comments/comment", collection: @comments, as: :comment %>
        <% else %>
          <%= t "view.comment.no_comment" %>
        <% end %>
      </div>
      <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
    </div>
  </div>
</div>
