<div class="flex items-center space-x-4 flex-shrink-0">
  <%= link_to "/", class: "relative hover:opacity-70" do %>
    <svg class="h-6 w-6 text-red-500 fill-red-500" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z"/>
    </svg>
    <span class="absolute top-0.5 right-0.5 bg-gray-50 text-red-500 text-[8px] font-bold rounded-full px-1">
      0
    </span>
  <% end %>

  <%= link_to "/", class: "relative hover:opacity-70" do %>
    <svg class="h-6 w-6 text-zinc-400"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"/>
    </svg>
    <span class="absolute top-0.5 right-0.5 bg-gray-50 text-red-500 text-[8px] font-bold rounded-full px-1">
      10
    </span>
  <% end %>

  <div class="relative">
    <button class="flex items-center space-x-2 focus:outline-none" id="profile_picture">
      <%= image_tag Settings.default_avatar.link, alt: Settings.default_avatar.alt, class: "h-8 w-8 rounded-full" %>
    </button>
    <div class="absolute right-0 mt-2 w-48 bg-white border rounded-md shadow-lg hidden group-hover:block" id="drop_down">
      <%= link_to t("view.profile.title"), "/", class: "block px-4 py-2 hover:bg-gray-100" %>
      <%= link_to t("view.settings.title"), "/", class: "block px-4 py-2 hover:bg-gray-100" %>
      <%= link_to t("text.logout"), "/", class: "block px-4 py-2 hover:bg-gray-100" %>
    </div>
  </div>
</div>
