<div class="flex items-center space-x-4 flex-shrink-0">
  <%= link_to "/", class: "relative hover:opacity-70" do %>
    <%= render "shared/icon/heart", icon_class: "h-6 w-6 text-red-500 fill-red-500" %>
    <span class="absolute top-0.5 right-0.5 bg-gray-50 text-red-500 text-[8px] font-bold rounded-full px-1">
      <%= current_user.favorited_books.count %>
    </span>
  <% end %>

  <%= link_to cart_path, class: "relative hover:opacity-70" do %>
    <%= render "shared/icon/book", icon_class: "h-6 w-6 text-zinc-400" %>
    <span class="absolute top-0.5 right-0.5 bg-gray-50 text-red-500 text-[8px] font-bold rounded-full px-1">
      <%= current_user.selected_books.count %>
    </span>
  <% end %>

  <div class="relative">
    <button class="flex items-center space-x-2 focus:outline-none" id="profile_picture">
      <%= image_tag Settings.default_avatar.link, alt: Settings.default_avatar.alt, class: "h-8 w-8 rounded-full" %>
    </button>
    <div class="absolute right-0 mt-2 w-48 bg-white border rounded-md shadow-lg hidden group-hover:block" id="drop_down">
      <%= link_to t("view.profile.title"), "/", class: "block px-4 py-2 hover:bg-gray-100" %>
      <%= link_to t("view.settings.title"), "/", class: "block px-4 py-2 hover:bg-gray-100" %>
      <%= link_to t("text.logout"), logout_path, data: {turbo_method: :delete}, class: "block px-4 py-2 hover:bg-gray-100" %>
    </div>
  </div>
</div>
